.App {
  text-align: center;
}
@font-face {
  font-family: 'Starjedi';font-size: 200px;
  src: url('Starjedi.ttf'); /* IE9 Compat Modes */
  }
h1{
  font-family: 'Starjedi';
  font-weight: 100;

  color:green;
  
  
}
.MainCss{
  display:flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
@media only screen and (max-width: 500px){
	.MainCss{
		flex-wrap: wrap;	}
}
#card{
	font-size: 11px;
	width: 200px;
	background-color: white ;

  margin: 30px;
  
  box-shadow: 0px 0px 9px 4px  #6b0000 ;
  animation: glow 1.5s linear infinite alternate;

}
@keyframes glow{
  to {
    box-shadow: 0px 0px 30px 20px red;
    background-color: red; 
  }
}
#planet{
	color:white;
}